<html>
  <head>
    <!-- css存放了亚马逊云 -->
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet"> 
    <link rel="stylesheet" href="main.css">
  </head>
  
    <body>
      <div class="nav">
        <div class="container">
          <ul>
            <li><a href="#">Airbnb logo</a></li>
            <li><a href="#">Browse</a></li>
          </ul>
          <ul>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
