<div class="feedback">
  <!-- text area -->
  <!--
  <form action="" method="post">
    <p>反馈内容</p>
    <textarea name="feedback_text" cols="80", rows="5">留下点什么吧</textarea>
    <p>联系方式: <input type="text", name="email" /></p>
    <input type="submit", value="提交" />
  </form> 
  -->

  <p>反馈页面应当做成论坛一样， 只列出所有的问题，注册用户可以回复问题</p>
</div>
