<div>
	<div class="console">
	  <p>
	  <span>#include ...<br></span>
	  <span>int main()<br></span>
	  <span>{<br></span>
	  <span>  int a = 0;<br></span>
	  <span>  printf("%d", a);<br></span>
	  <span>  return 0;<br></span>
	  <span>}<br></span>
	  <span><br></span>
	  <span><br></span>
	  <span><br></span>
	  <span><br></span>
	  </p>
	</div>
	
	
	<div class="whiteboard">
	  <p>
	  <span>This is the result area.<br></span>
	  <span>This is the result area.<br></span>
	  <span>This is the result area.<br></span>
	  <span>This is the result area.<br></span>
	  <span>This is the result area.<br></span>
	  <span>This is the result area.<br></span>
	  </p>
	</div>
</div>
