<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "Ruby 在线", { :controller=>'pages', :action=>'home'}, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to '帮助', :action=>'help' %></li>
      <li><%= link_to "关于", :action=>'about' %></li>
    </ul>
  </nav>
</div>
</header>
